// import materialize-css
$roboto-font-path: '~materialize-css/fonts/roboto/';
@import '~materialize-css/sass/materialize';

$bottom-bar-height: 56px;
$padding: 40px;

.horizontal-margin {
  margin-left: 40px;
  margin-right: 40px;
}

.horizontal-padding {
  padding-left: 40px;
  padding-right: 40px;
}

nav {
  @extend .light-green, .darken-1;
  @extend .horizontal-padding;
}

body {
  @extend .grey, .lighten-5;
}

nav .brand-logo {
  @extend .cyan-text, .text-lighten-5;
  font-size: x-large;
}

.breadcrumb.active {
  color: white;
}

.loading {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.loading .preloader-wrapper {
  display: block;
  margin: 160px auto;
  width: 80px;
  height: 80px;
}

.circle-clipper .circle {
  border-width: 6px;
}

.content-container {
  margin-top: 20px;
}

.card-image {
  padding-top: 10px;
}

.card .card-image .file-icon {
  width: 40%;
  height: auto;
  margin: 0 auto;
}

.card .card-content .file-name {
  color: darkcyan;
  text-align: center;
  word-break: break-all;
}

.content-wrapper {
  position: relative;
  @extend .z-depth-2;
  @extend .grey, .lighten-2;
  margin: $padding $padding $bottom-bar-height + $padding $padding;
}

.text-view {
  @extend .teal-text, .text-darken-4;
  @extend .horizontal-padding;
  padding: 20px;
  letter-spacing: 2px;
  font-weight: normal;
  font-size: 16px;
  white-space: pre-wrap;
}

.image-view {
  max-width: 100%;
  max-height: 100%;
}

.bottom-bar {
  @extend .light-green, .lighten-2;
  @extend .z-depth-2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  border-radius: 0 0 2px 2px;
  padding: 4px $padding;
  height: $bottom-bar-height;
  width: 100%;
}

.bottom-bar-btn {
  @extend .grey-text, .text-lighten-5;
  position: fixed;
  display: inline-block;
  margin: auto;
}

.fix-bottom {
  border-top: 1px solid rgba(0,0,0,0.1);
  position: fixed;
  bottom: 0;
}

/* For transition */
.folder-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.folder-enter.folder-enter-active {
  opacity: 1;
}

.folder-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.folder-leave.folder-leave-active {
  opacity: 0;
}
/* End for transition*/